﻿<form id="frm_create_address" name="addressCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewAddress")</span>
        </h4>
    </div>
    <div class="modal-body">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="streetName" type="text" name="streetName" ng-model="vm.address.streetName" required maxlength="32" class="validate form-control">
                                <label for="streetName" class="form-label">@L("StreetName")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="streetNumber" type="text" name="streetNumber" ng-model="vm.address.streetNumber" required maxlength="32" class="validate form-control">
                                <label for="streetNumber" class="form-label">@L("StreetNumber")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="zipCode" type="text" name="zipCode" ng-model="vm.address.zipCode" required maxlength="4" class="validate form-control">
                                <label for="zipCode" class="form-label">@L("ZipCode")</label>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="addressCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>